<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
	<title>Final Project Page</title>
	<link rel="stylesheet" type="text/css" href= "../bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href= "../CSS/style.css">

</head>

<body>
	<div class="container">
		 <div class="row top-row">
		 	<div class="col-md-6">
		 		<img class=udacitylogo src="../images/udacity.svg" alt="Udacity Logo">
		 	</div>
		 	<div class="col-md-6 text-right text-uppercase ">
		 		<h1 class="text-thin mega-title">Jane Doette</h1>
		 		<h4>Front-end Ninja</h4>
		 	</div>
		 </div>
		<div class="row">
			<div class="col-mid-12">
				<hr >
			</div>
		</div>
		<div class="row">
			<div class="col-mid-12">
		 		<img class="img-responsive" src="../images/cat_image.jpg" alt="Cat Image">
			</div>
		</div>
		<div class="row">
			<div class="col-mid-12">
				<h3 class="text-muted" style="padding-left: 5px; margin-top:40px;">Featured Work</h3>
			</div>
		</div>
		<div class="row">
			<div class= "image-row">
				<div class="col-mid-4" style="float: left; margin: 0px 30px 0px 0px;" >
			 		<img class="columnimage" src="../images/cat_image.jpg" alt="Cat Image">
					<h3 class = "text-uppercase text-center">Appify</h3>
					<p class = "text-center">
						<a href="https://github.com/udacity/Appify">https://github.com/udacity/Appify</a>
					</p>
				</div>
				<div class="col-mid-4">
					<img class="columnimage" src="../images/cat_image.jpg" alt="Cat Image">
					<h3 class = "text-uppercase text-center">Sunflower</h3>
					<p class = "text-center">
						<a href="https://github.com/udacity/Sunflower">https://github.com/udacity/Sunflower</a>
					</p>
				</div>
				<div class="col-mid-4"  style="float: right; margin: 0px 0px 0px 30px;">
					<img class="columnimage" src="../images/cat_image.jpg" alt="Cat Image">
					<h3 class = "text-uppercase text-center">Bokeh</h3>
					<p class = "text-center">
						<a href="https://github.com/udacity/Bokeh">https://github.com/udacity/Bokeh</a>
					</p>
				</div>
			</div>

		</div>
	</div>
</body>
</html>